@import "../../../css/mixins/input.scss";

.inputContainer {
	@include input-base-styles;
}

.inputWithLabel {
	flex-direction: column;
	align-items: flex-start; 
}

.inputWithIcon {
	display: flex;
	justify-content: space-between;
}
