@use "../../css/variables/variables.scss" as *;

.footer {
	color: #fff;
	padding: space(4);
	background-color: var(--slate-800);
	@extend %flexColumn;
	gap: space(2.5);
	text-align: center;
	& .logoFooter {
		width: space(12);
		height: space(12);
	}

	& .socials {
		@extend %flexLine;
		gap: space(2);
		& .social {
			text-decoration: none;
			color: #fff;
			width: space(6);
			height: space(6);

			svg {
				width: 100%;
				height: 100%;
			}
		}
	}
	& .copy {
		& .link {
			text-decoration: none;
			color: var(--teal-600);
			font-weight: 700;
			margin-left: space(1);
		}
	}
}
